@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ConfirmRegisterBibliotecarioModel
@{
    ViewData["Title"] = "Confirmação de Registro";
}

<section class="section email-confirmation container">
    <h1 class="section__title">Confirmação de Registro</h1>
    <p class="email-confirmation__message">
        A sua conta foi criada com sucesso. No entanto, necessita da aprovação de um administrador para que possa aceder ao sistema.
    </p>
    <p class="email-confirmation__warning">
        Após a aprovação, poderá entrar!
    </p>
</section>
