@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmação de E-mail";
}

<section class="section email-confirmation container">
    <h1 class="section__title">Confirmação do E-mail</h1>
    <p class="email-confirmation__message">
        Confirmação enviada para o seu E-Mail. Por favor, clique no link enviado para ativar a sua conta.
    </p>
    <p class="email-confirmation__warning">
        Não poderá aceder à sua conta até confirmar o e-mail.
    </p>
</section>