@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Esqueceu a Palavra-Passe";
}

<section class="forgot-password-confirmation container">
    <h1 class="section__title">E-mail Enviado</h1>
    <p class="forgot-password-confirmation__message">
        Um link para redefinir a sua palavra-passe foi enviado para o e-mail fornecido. Verifique a sua caixa de entrada.
    </p>
    <p class="forgot-password-confirmation__info">
        Não encontrou o e-mail? Verifique a pasta de spam ou <a asp-page="./ForgotPassword">tente novamente</a>.
    </p>
</section>