@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar a Palavra-Passe";
}

<section class="forgot-password container">
    <h1 class="section__title">Recuperar a Palavra-Passe</h1>
    <p class="forgot-password__message">
        Insira o e-mail associado à sua conta para receber um link de redefinição da Palavra-Passe
    </p>

    <form class="forgot-password__form" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-group">
            <label asp-for="Input.Email" class="forgot-password__label">E-Mail</label>
            <input asp-for="Input.Email" class="forgot-password__input" autocomplete="email" placeholder="Digite o seu E-Mail" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <button type="submit" class="forgot-password__button">Enviar</button>
    </form>
</section>