@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Redefinição da Palavra-Passe";
}

<section class="password-reset-confirmation container">
    <h1 class="section__title">Palavra-Passe Atualizada</h1>
    <p class="password-reset-confirmation__message">
        A sua Palavra-Passe foi atualizada com sucesso. Será redirecionado para a página de login em <span id="timer">5</span> segundos. Caso não seja, pode <a asp-page="/Account/Login">entrar aqui</a>.
    </p>
</section>

@section Scripts {
    <script>
        let countdown = 3; // Tempo inicial em segundos
        const timerElement = document.getElementById('timer');

        const countdownInterval = setInterval(() => {
            countdown--; // Decrementa o contador
            timerElement.textContent = countdown; // Atualiza o texto do temporizador

            if (countdown <= 0) {
                clearInterval(countdownInterval); // Para o temporizador
                window.location.href = '/Identity/Account/Login'; // Redireciona para a página de login
            }
        }, 1000); // Atualiza a cada segundo
    </script>
}
