@page
@model BiblioUTAD.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Redefinir Palavra-Passe";
}

<section class="section reset-password container">
    <h1 class="section__title">Alteração da Palavra-Passe</h1>
    <p class="reset-password__message">
        Por favor, insira a sua nova palavra-passe para continuar.
    </p>

    <form method="post" class="reset-password__form">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Input.Password" class="reset-password__label"></label>
            <input asp-for="Input.Password" class="reset-password__input form-control" placeholder="Digite a nova Palavra-Passe" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Input.ConfirmPassword" class="reset-password__label"></label>
            <input asp-for="Input.ConfirmPassword" class="reset-password__input form-control" placeholder="Confirme a nova Palavra-Passe" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Input.Code" />

        <button type="submit" class="btn btn-primary reset-password__button">Confirmar</button>
    </form>

</section>
