@{
    ViewData["Title"] = "Perguntas Frequentes (FAQs)";
}

<section class="section container faq-container">
    <h1 class="faq-section__titulo">@ViewData["Title"]</h1>
    <p class="faq-section__intro">Encontre respostas para as questões mais comuns sobre a <strong>BiblioUTAD</strong> e o funcionamento do sistema.</p>

    <div class="faq-card">
        <h2 class="faq-card__title">1. Como posso criar uma conta?</h2>
        <p class="faq-card__text">Para criar uma conta, clique no ícone do "Boneco" no canto superior direito do site e preencha os dados solicitados.</p>
    </div>

    <div class="faq-card">
        <h2 class="faq-card__title">2. Esqueci minha palavra-passe. O que faço?</h2>
        <p class="faq-card__text">Clique em "Esqueceu sua palavra-passe?" na página de login e siga as instruções enviadas para o seu e-mail registado.</p>
    </div>

    <div class="faq-card">
        <h2 class="faq-card__title">3. Como faço para requisitar um livro?</h2>
        <p class="faq-card__text">Após iniciar sessão, navegue até ao catálogo, selecione o livro desejado e clique em "Requisitar".</p>
    </div>

    <div class="faq-card">
        <h2 class="faq-card__title">4. Como contacto a biblioteca?</h2>
        <p class="faq-card__text">Pode contactar-nos através do e-mail <a href="mailto:biblioutad@gmail.com">biblioUTAD@gmail.com</a> ou pelo telefone (+351) 259 350 000.</p>
    </div>

    <div class="faq-card">
        <h2 class="faq-card__title">5. O que acontece se devolver um livro atrasado?</h2>
        <p class="faq-card__text">A devolução atrasada pode resultar numa penalidade, como a suspensão temporária de empréstimos. Consulte o regulamento para mais detalhes.</p>
    </div>

    <div class="faq-card">
        <h2 class="faq-card__title">6. Como atualizo as minhas informações pessoais?</h2>
        <p class="faq-card__text">Após iniciar sessão, aceda à sua área pessoal clicando no seu Nome para atualizar as suas informações.</p>
    </div>
</section>
